.container {
  display: inline-flex;
  background-color: rgb(246, 247, 248);
  border-radius: 6.4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image {
  height: 16px;
  /* width: 16px; */
  margin-right: 0.25em;
  margin-left: 0.25em;
  align-self: center;
}

.logoText {
  align-self: baseline;
  margin: 0 0.25em 0 0;
  font-family: monospace;
}

/* Dark mode styles */
[data-theme='dark'] .container {
  background-color: #444950;
  border: 1px solid #5a5f66;
}

[data-theme='dark'] .logoText {
  color: #dadde1;
}