.tagPill {
  background-color: grey;
  border: 1px solid red;
  border-radius: 5px;
  display: inline-flex;
  overflow: hidden;
  transition: all 0.2s ease;
}

.tagpill:hover {
  box-shadow: var(--ifm-global-shadow-md);
}

/* .tagPillContainer {}

.tagPillIcon {}

.tagPillText {} */